@{
    ViewData["Title"] = "About KloudTransact";
}

		<div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <h2 class="section-heading">About KloudTransact</h2>
            <hr class="my-4">
            <h4>About Us</h4>
            <p>Kloudtransact is an online auction and ePayment platform. </p>
            <p>Our mission is to become the engine of trade, payment and commerce Africa.</p>
            <br>
            <h4>Our Mission</h4>
            <p>Our mission is to become the engine of trade, payment and commerce Africa.</p>
            <br>
            <h4>We bring forth a digital REVOLUTION!</h4>
            <p>We are building a society that would exist digitally as third party platform to enhance digital lifestyles.</p>
            <p>We believe that our digital lives are not separate from our real life so utilizing innovative techniques and technology and taking advantage of leading expertise, <strong>we bring forth the digital revolution</strong>; For most of us, digital is a way of living.</p>
            <br>
            <h4>Our Guarantee</h4>
            <p>Our services are designed to ensure customer satisfaction and convenience with the retail process; these services include an escrow system which is a guarantee for fund security, transparency and also our lowest price guarantee, a good return policy and many other premium services.</p>
            <p>As we continue to expand the mall, our scope of offerings will increase in variety, simplicity and convenience; join us and enjoy the increasing benefits.</p>
            <br>
            
            <h4>We'd like to hear from you!</h4>
            <p>We are highly customer-centric and are committed towards finding innovative ways of improving our customers' shopping experience with us;</p>
            <p>Give us some feedback on <a href="mailto:support@kloudtransact.com">support@kloudtransact.com</a></p>
            <p>For any press related questions, kindly send us an email at <a href="mailto:contact@kloudtransact.com">contact@kloudtransact.com</a></p>
            <p><i class="fa fa-map mr-3"></i>Galadimawa, Abuja Nigeria</p>
            <p><i class="fa fa-phone mr-3"></i><a href="tel:08184058589">0818 405 8589</a></p>
            <p><i class="fa fa-facebook"></i><a href="#" class="mr-3">kloudtransact</a> <i class="fa fa-twitter"></i><a href="#" class="mr-3">kloudtransact</a> <i class="fa fa-instagram"></i><a href="#" class="mr-3">kloudtransact</a></p>
            <br>
          </div>
        </div>
